<header class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
<% if user_signed_in? %>
  <nav>
  <ul class="nav navbar-nav navbar-left">
    <li style="color: white;"><h4>Bookers</h4></li>
  </ul>
  </nav>
  <nav>
	<ul class="nav navbar-nav navbar-pills navbar-right">
		<li><%= link_to user_path(current_user) do %>
			<span class="glyphicon glyphicon-home" aria-hidden="true">  Home</span><% end %>
		</li>
		<li><%= link_to users_path do %>
			<span class="glyphicon glyphicon-user" aria-hidden="true">  Users</span><% end %>
		</li>
		<li><%= link_to books_path do %>
			<span class="glyphicon glyphicon-book" aria-hidden="true">  Books</span><% end %>
		</li>
		<li><%= link_to destroy_user_session_path, method: :delete do %>
			<span class="glyphicon glyphicon-log-out" aria-hidden="true">  logout</span><% end %>
		</li>
	</ul>
  </nav>
<% else %>
    <nav>
	  <ul class="nav navbar-nav navbar-left">
	  	<li style="color: white;"><h4>Bookers</h4></li>
	  </ul>
	  </nav>
    <nav>
		<ul class="nav navbar-nav navbar-pills navbar-right">
			<li>
        <%= link_to root_url do %>
        <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
        <% end %>
			</li>
			<li>
        <%= link_to about_home_index_url do %>
				<span class="glyphicon glyphicon-link" aria-hidden="true"> About</span>
  			<% end %>
      </li>
			<li><%= link_to  new_user_registration_path do %>
				<span class="glyphicon glyphicon-check" aria-hidden="true"> sign up</span><% end %>
			</li>
			<li><%= link_to new_user_session_path do %>
				<span class="glyphicon glyphicon-log-in" aria-hidden="true"> login</ span><% end %>
			</li>
		</ul>
	</nav>
<% end %>
</div>
</header>