<div class="col-xs-3">
  <div>
<h3>User info</h3>
<%= attachment_image_tag @user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>
<table class="table">
<tr>
	<td>name</td>
	<td><%= @user.name %></td>
</tr>
<tr>
	<td>introduction</td>
	<td><%= @user.introduction %></td>
</tr>
</table>


<%= link_to edit_user_path(@user.id) do %>
<button class="btn btn-default btn-block">
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
</button>
<% end %>
</div>
<%= render 'books/new' %>
</div>